.wrapper {
    margin: 1rem;
}

img {
    border-radius: 0.8rem;
}
.content {
    display: flex;
    flex-direction: column;
    .tittle {
        font-family: 'Papyrus';
        font-size: 20px;
    }
    .date {
        font-family: 'Trebuchet MS';
        font-size: 1rem;
    }
}